<button (click)="addPost('akshit', 'from ludhiana')">ADD NEW POST</button>
<table>
  <thead>
    <tr>
      <th>S no.</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
   </thead>
   <tbody>
     <tr *ngFor="let item of posts; let ind = index">
       <td>{{ ind + 1 }}</td>
       <td>{{ item.title }}</td>
       <td>
         <button (click)="deletePost(item.id)" >DELETE</button>
         <button (click)="updatePost(4, 'loremmmm', 'ipsummm')">UPDATE</button>
       </td>
     </tr>
  </tbody>
</table>